.landing.right-side {
	padding-right: 0;
	position: relative;
}

.landing img {
	position: absolute;
	right: 0;
	max-width: 100%;
}

.right-side h1 {
	color: white;
	font-size: 60px;
}

.left-side {
	padding-right: 0;
	margin-top: 0;
}

.left-side p {
	color: white;
}